<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebToon</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ViewSroryServlet</display-name>
    <servlet-name>ViewSroryServlet</servlet-name>
    <servlet-class>net.gondor.story.web.ViewSroryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSroryServlet</servlet-name>
    <url-pattern>/story/viewStory</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>net.gondor.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ViewLoginServlet</display-name>
    <servlet-name>ViewLoginServlet</servlet-name>
    <servlet-class>net.gondor.user.web.ViewLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewLoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewJoinServlet</display-name>
    <servlet-name>ViewJoinServlet</servlet-name>
    <servlet-class>net.gondor.user.web.ViewJoinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewJoinServlet</servlet-name>
    <url-pattern>/join</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoJoinServlet</display-name>
    <servlet-name>DoJoinServlet</servlet-name>
    <servlet-class>net.gondor.user.web.DoJoinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoJoinServlet</servlet-name>
    <url-pattern>/doJoin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoLoginServlet</display-name>
    <servlet-name>DoLoginServlet</servlet-name>
    <servlet-class>net.gondor.user.web.DoLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoLoginServlet</servlet-name>
    <url-pattern>/doLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDetailServlet</display-name>
    <servlet-name>ViewDetailServlet</servlet-name>
    <servlet-class>net.gondor.story.web.ViewDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetailServlet</servlet-name>
    <url-pattern>/story/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteServlet</display-name>
    <servlet-name>DoDeleteServlet</servlet-name>
    <servlet-class>net.gondor.story.web.DoDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteServlet</servlet-name>
    <url-pattern>/story/doDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewWriteServlet</display-name>
    <servlet-name>ViewWriteServlet</servlet-name>
    <servlet-class>net.gondor.story.web.ViewWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewWriteServlet</servlet-name>
    <url-pattern>/story/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoWriteServlet</display-name>
    <servlet-name>DoWriteServlet</servlet-name>
    <servlet-class>net.gondor.story.web.DoWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoWriteServlet</servlet-name>
    <url-pattern>/story/doWrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoLogoutServlet</display-name>
    <servlet-name>DoLogoutServlet</servlet-name>
    <servlet-class>net.gondor.user.web.DoLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoLogoutServlet</servlet-name>
    <url-pattern>/doLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DolikeServlet</display-name>
    <servlet-name>DolikeServlet</servlet-name>
    <servlet-class>net.gondor.story.web.ajax.DolikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DolikeServlet</servlet-name>
    <url-pattern>/story/doLike</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>MemberFilter</display-name>
    <filter-name>MemberFilter</filter-name>
    <filter-class>net.gondor.filter.MemberFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MemberFilter</filter-name>
    <url-pattern>/story/write</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MemberFilter</filter-name>
    <url-pattern>/story/detail</url-pattern>
  </filter-mapping>
</web-app>